Repository shouta0715/turborepo-template: changes, and which lefthook commands are due for each by the changed paths.
All: to-next-lint, to-react-lint, to-api-lint, to-native-lint, to-next-format, to-react-format, to-api-format, to-native-format

.lefthook.yml:

pre-push:
  parallel: true
  commands:
    to-next-lint:
      root: apps/next/
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix {push_files}
    to-react-lint:
      root: "apps/react/"
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix {push_files}
    to-api-lint:
      root: "apps/api/"
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix {push_files}
    to-native-lint:
      root: "apps/native/"
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix {push_files}

    to-next-format:
      root: apps/next/
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm prettier --write --ignore-unknown {push_files}
    to-react-format:
      root: "apps/react/"
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm prettier --write --ignore-unknown {push_files}
    to-api-format:
      root: "apps/api/"
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm prettier --write --ignore-unknown {push_files}
    to-native-format:
      root: "apps/native/"
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm prettier --write --ignore-unknown {push_files}

fix: concurrency
  .github/actions/setup-pnpm/action.yml
  .github/workflows/ci.yaml
Due: none

fix: on trigger
  .github/workflows/ci.yaml
Due: none

fix: typegen next
  apps/next/package.json
Due: none

fix: nextive lint warning
  apps/native/eslint.config.mjs
  apps/native/package.json
Due: none

fix: next config
  apps/next/tsconfig.json
Due: none

fix: pnpm inputs
  .github/actions/setup-pnpm/action.yml
Due: none

fix: module error
  apps/native/package.json
Due: none

feat: add pre push command
  .husky/pre-push
Due: none

chore: pnpm lock files
  pnpm-lock.yaml
Due: none

chore: nextのアプデ
  apps/next/package.json
  pnpm-lock.yaml
Due: none

remove react app
  apps/react/.gitignore
  apps/react/.lintstagedrc.json
  apps/react/README.md
  apps/react/eslint.config.js
  apps/react/index.html
  apps/react/package.json
  apps/react/postcss.config.mjs
  apps/react/prettier.config.mjs
  apps/react/public/vite.svg
  apps/react/src/app.tsx
  apps/react/src/main.tsx
  apps/react/src/styles/globals.css
  apps/react/src/vite-env.d.ts
  apps/react/tsconfig.json
  apps/react/vite.config.ts
Due: to-react-lint, to-react-format

feat: nativewindからuniwindへの移行
  apps/native/metro.config.js
  apps/native/nativewind-env.d.ts
  apps/native/package.json
  apps/native/src/app/_layout.tsx
  apps/native/src/styles/tailwind.css
  apps/native/src/tailwind.css
  apps/native/tsconfig.json
  apps/native/uniwind-types.d.ts
Due: to-native-lint, to-native-format

chore: prettierの修正とvscodeの設定を変更
  .prettierignore
  .vscode/settings.json
  packages/prettier-config/tailwind.mjs
  pnpm-lock.yaml
Due: none

chore: update expo
  apps/native/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: update tailwind packages
  apps/native/package.json
  apps/native/postcss.config.mjs
  apps/next/package.json
  packages/lib/eslint.config.js
  packages/lib/package.json
  packages/lib/prettier.config.mjs
  packages/lib/src/cn.ts
  packages/lib/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore
  apps/native/src/utils/cn.ts
Due: to-native-lint, to-native-format

fix: pakages lint
  apps/api/.prettierignore
  apps/native/.prettierignore
  apps/native/uniwind-types.d.ts
  apps/next/.prettierignore
  packages/lib/package.json
  pnpm-workspace.yaml
Due: to-native-lint, to-native-format

feat: hero ui
  apps/native/package.json
  apps/native/src/app/_layout.tsx
  apps/native/src/app/index.tsx
  apps/native/src/providers/index.tsx
  apps/native/src/tailwind.css
  packages/prettier-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: to-native-lint, to-native-format

chore
  apps/native/package.json
  pnpm-lock.yaml
Due: none

chore: node types catalog
  apps/native/package.json
  apps/next/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore
  pnpm-workspace.yaml
Due: none

chore: update turbo
  package.json
  pnpm-lock.yaml
Due: none

chore: update expo
  apps/native/package.json
  pnpm-lock.yaml
Due: none

chore: update pnpm
  .github/actions/setup-pnpm/action.yml
  package.json
Due: none

chore: workspace
  apps/native/package.json
  pnpm-lock.yaml
Due: none
