Repository shouta0715/turborepo-template: changes, and which lefthook commands are due for each by the changed paths.
All: to-next-lint, to-react-lint, to-api-lint, to-native-lint, to-next-format, to-react-format, to-api-format, to-native-format

.lefthook.yml:

pre-push:
  parallel: true
  commands:
    to-next-lint:
      root: apps/next/
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix {push_files}
    to-react-lint:
      root: "apps/react/"
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix {push_files}
    to-api-lint:
      root: "apps/api/"
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix {push_files}
    to-native-lint:
      root: "apps/native/"
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix {push_files}

    to-next-format:
      root: apps/next/
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm prettier --write --ignore-unknown {push_files}
    to-react-format:
      root: "apps/react/"
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm prettier --write --ignore-unknown {push_files}
    to-api-format:
      root: "apps/api/"
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm prettier --write --ignore-unknown {push_files}
    to-native-format:
      root: "apps/native/"
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm prettier --write --ignore-unknown {push_files}

fix: eslint setting
  apps/native/app/index.tsx
  packages/eslint-config/react.js
Due: to-native-lint, to-native-format

fix: .vscode
  .vscode/settings.json
  apps/native/.vscode/settings.json
Due: none

fix: command
  apps/native/package.json
  apps/next/package.json
Due: none

move: src folders
  apps/native/src/app/_layout.tsx
  apps/native/src/app/index.tsx
  apps/native/src/assets/fonts/SpaceMono-Regular.ttf
  apps/native/src/assets/images/adaptive-icon.png
  apps/native/src/assets/images/favicon.png
  apps/native/src/assets/images/icon.png
  apps/native/src/assets/images/partial-react-logo.png
  apps/native/src/assets/images/react-logo.png
  apps/native/src/assets/images/react-logo@2x.png
  apps/native/src/assets/images/react-logo@3x.png
  apps/native/src/assets/images/splash-icon.png
  apps/native/src/components/.gitkeep
  apps/native/tsconfig.json
  packages/eslint-config/native.js
Due: to-native-lint, to-native-format

update eslint rurles
  packages/eslint-config/react.js
Due: none

fix: eslint rules
  packages/eslint-config/react.js
Due: none

fix: console eslint
  packages/eslint-config/typescript.js
Due: none

feat: add nativewind and global types
  apps/native/app.json
  apps/native/babel.config.cjs
  apps/native/metro.config.cjs
  apps/native/nativewind-env.d.ts
  apps/native/package.json
  apps/native/prettier.config.js
  apps/native/src/app/_layout.tsx
  apps/native/src/app/index.tsx
  apps/native/src/styles/tailwind.css
  apps/native/src/types/images-env.d.ts
  apps/native/src/types/nativewind-env.d.ts
  apps/native/src/utils/cn.ts
  apps/native/tailwind.config.js
  apps/native/tsconfig.json
  packages/eslint-config/native.js
  pnpm-lock.yaml
Due: to-native-lint, to-native-format

chore
  apps/native/nativewind-env.d.ts
Due: to-native-lint, to-native-format

fix: images env
  apps/native/src/types/images-env.d.ts
Due: to-native-lint, to-native-format

fix: types
  apps/native/images-env.d.ts
  apps/native/nativewind-env.d.ts
  apps/native/src/types/nativewind-env.d.ts
  apps/native/tsconfig.json
Due: to-native-lint, to-native-format

feat: add env
  apps/native/package.json
  apps/native/src/env/client.ts
  pnpm-lock.yaml
Due: to-native-lint, to-native-format

update next
  apps/next/next.config.ts
  apps/next/package.json
  apps/next/src/app/layout.tsx
  apps/next/src/app/page.tsx
  apps/next/src/types/next.d.ts
  packages/eslint-config/base.js
  pnpm-lock.yaml
Due: to-next-lint, to-next-format

fix: ignore d.ts
  packages/eslint-config/base.js
Due: none

fix: lefthooks
  .lefthook.yml
  apps/react/.expo/cache/eslint/.cache_maeclo
Due: none

fix: warning
  apps/api/package.json
  apps/native/package.json
  apps/next/package.json
  apps/react/package.json
Due: none

fix: eslint deprecated
  packages/eslint-config/base.js
  packages/eslint-config/native.js
  packages/eslint-config/next.js
  packages/eslint-config/typescript.js
Due: none

upgrade to 54
  apps/native/app.json
  apps/native/package.json
  pnpm-lock.yaml
Due: none

update next.js
  apps/next/next.config.ts
  apps/next/package.json
Due: to-next-lint, to-next-format

update eslint
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

delete: already files
  apps/native/.gitignore
  apps/native/README.md
  apps/native/app.json
  apps/native/babel.config.cjs
  apps/native/eslint.config.js
  apps/native/images-env.d.ts
  apps/native/metro.config.cjs
  apps/native/nativewind-env.d.ts
  apps/native/package.json
  apps/native/prettier.config.js
  apps/native/src/app/_layout.tsx
  apps/native/src/app/index.tsx
  apps/native/src/assets/fonts/SpaceMono-Regular.ttf
  apps/native/src/assets/images/adaptive-icon.png
  apps/native/src/assets/images/favicon.png
  apps/native/src/assets/images/icon.png
  apps/native/src/assets/images/partial-react-logo.png
  apps/native/src/assets/images/react-logo.png
  apps/native/src/assets/images/react-logo@2x.png
  apps/native/src/assets/images/react-logo@3x.png
  apps/native/src/assets/images/splash-icon.png
  apps/native/src/components/.gitkeep
  apps/native/src/env/client.ts
  apps/native/src/styles/tailwind.css
  apps/native/src/utils/cn.ts
  apps/native/tailwind.config.js
  apps/native/tsconfig.json
Due: to-native-lint, to-native-format

initilize native app
  apps/native/.gitignore
  apps/native/.vscode/extensions.json
  apps/native/.vscode/settings.json
  apps/native/README.md
  apps/native/app.json
  apps/native/app/_layout.tsx
  apps/native/app/index.tsx
  apps/native/assets/images/android-icon-background.png
  apps/native/assets/images/android-icon-foreground.png
  apps/native/assets/images/android-icon-monochrome.png
  apps/native/assets/images/favicon.png
  apps/native/assets/images/icon.png
  apps/native/assets/images/partial-react-logo.png
  apps/native/assets/images/react-logo.png
  apps/native/assets/images/react-logo@2x.png
  apps/native/assets/images/react-logo@3x.png
  apps/native/assets/images/splash-icon.png
  apps/native/eslint.config.js
  apps/native/package.json
  apps/native/tsconfig.json
  pnpm-lock.yaml
Due: to-native-lint, to-native-format

install nativewind
  apps/native/.vscode/settings.json
  apps/native/app/index.tsx
  apps/native/metro.config.js
  apps/native/nativewind-env.d.ts
  apps/native/package.json
  apps/native/postcss.config.mjs
  apps/native/prettier.config.mjs
  apps/native/src/app/_layout.tsx
  apps/native/src/app/index.tsx
  apps/native/src/styles/tailwind.css
  apps/native/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: to-native-lint, to-native-format

install native library
  apps/native/package.json
  apps/native/src/env/client.ts
  apps/native/src/utils/cn.ts
  pnpm-lock.yaml
Due: to-native-lint, to-native-format

fix: valibot catalogs
  apps/api/package.json
  apps/native/package.json
  apps/next/package.json
  apps/react/.expo/cache/eslint/.cache_maeclo
  apps/react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: eslint catalog
  apps/api/package.json
  apps/native/package.json
  apps/next/package.json
  apps/react/package.json
  packages/eslint-config/base.js
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: prettier catalog
  apps/native/package.json
  apps/next/package.json
  apps/react/package.json
  pnpm-lock.yaml
Due: none

chore: typescript catalog
  apps/native/package.json
  apps/next/package.json
  apps/react/package.json
  package.json
  pnpm-lock.yaml
Due: none

feat: setup husky and lint-staged
  .husky/pre-commit
  apps/api/.lintstagedrc.json
  apps/native/.lintstagedrc.json
  apps/next/.lintstagedrc.json
  apps/react/.lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: none

remove: lefthooks
  .lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: ignore scripts
  .npmrc
Due: none

chore: update react
  apps/next/package.json
  apps/react/package.json
  pnpm-lock.yaml
Due: none

chore: update expo app
  apps/native/app.json
  apps/native/package.json
  pnpm-lock.yaml
Due: none

chore: minimum realease age
  pnpm-workspace.yaml
Due: none

chore
  pnpm-workspace.yaml
Due: none

chore: update pnpm
  package.json
  pnpm-workspace.yaml
Due: none

update lint command
  apps/api/package.json
  apps/native/package.json
  apps/next/package.json
  apps/react/package.json
  package.json
  turbo.json
Due: none

feat: add ci
  .github/actions/setup-pnpm/action.yml
  .github/workflows/ci.yaml
Due: none
